@font-face {
    font-family: 'hiragana';
    src: url('../FONT/hiragana\ tfb.ttf') format('truetype');
}

@font-face {
    font-family: 'beach';
    src: url('../FONT/beachday.ttf') format('truetype');
}

@font-face {
    font-family: 'katakana';
    src: url('../FONT/katakana\ tfb.ttf') format('truetype');
}

body{
    height: 100vh;
}

#mainContainer {
    z-index: 1;
}
.font-title{
    font-family: 'beach';
}

.font-hiragana{
    font-family: 'hiragana';
    color: #000;
    text-align: center;
}

.font-katakana{
    font-family: 'katakana';
    color: #000;
    text-align: center;
}

#valueLetter .btn{
    position: relative;
    font-size: 16pt;
    width: 60px;
    height: 60px;
}

#tableContainer {
    width: 100%;
    height: 160%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    
}
#tableContainer table {
    position: relative;
}

@media screen and (max-width: 330px) {
    #mainContainer {
        max-width: 100%;
        padding: 0px 5px;
    }
}